body{
   background-color: #212529;
}
.Table1{
    border: 1px solid  #495057;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  background-color:#212529;
  color: white;

}
td, th{
    padding: 30px 30px;
    text-align: left;
    border-bottom: 1px solid #495057;
    border-collapse: collapse;
}
#idhaha{
    border-bottom: 0;
}
#table2{
    background-color: #2C3034;
}